#!/bin/bash

ip route del {{ subnet }} dev $INTERFACE
ip addr del {{ cidr }} dev $INTERFACE
{% if ipv6 is defined %}
ip addr del {{ ipv6 }} dev $INTERFACE
ip route del {{ ipv6subnet }} dev $INTERFACE
{% endif %}
ip link set $INTERFACE down
